<div class="bg-dark text-capitalize">
  <h5>Chi Tiết User</h5>
  <div>
    <label><b>Id:</b> </label>{{ user.id }}
  </div>
  <div>
    <label><b>Username:</b> </label>{{ user.username }}
  </div>
  <div>
    <label><b>Fullname:</b> </label>{{ user.full_name }}
  </div>
  <div>
    <label><b>Email:</b> </label>{{ user.email }}
  </div>
  <div>
    <label><b>PhoneNumber:</b> </label>{{ user.phone_number }}
  </div>
  <div>
    <label><b>Status:</b> </label>{{ user.status }}
  </div>
  <div>
    <label><b>CreatedDate:</b> </label>{{ user.createDate }}
  </div>
  <div>
    <label><b>Role:</b> </label>{{ user.roles[0].name }}
  </div>
</div>

