<table class="table table-hover table-striped table-dark rounded table-borderless">
  <thead>
  <tr class="text-center">
    <th scope="col">STT</th>
    <th scope="col">username</th>
    <th scope="col">Full name</th>
    <th scope="col">Email</th>
    <th scope="col">Birthday</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Action</th>
  </tr>
  </thead>

  <tbody>
  <tr class="text-center" *ngFor="let user of userList, index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ user.username }}</td>
    <td>{{ user.full_name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.birthday }}</td>
    <td>{{ user.phone_number }}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="onSubmitBlock(user.id )">Block</button>
      <button type="button" class="btn btn-danger" (click)="onSubmitDelete(user.id)">Delete</button>
      <button type="button" class="btn btn-danger" [routerLink]="['/user/', user.id]">Detail</button>
    </td>
  </tr>
  </tbody>
</table>


