<h1>Biểu Đồ Minh Họa Trực Quan Lượng Người Đăng Kí Mới</h1>

<highcharts-chart
  [Highcharts] = "highcharts"
  [options] = "chartOptions"
  style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
<button (click)="enableChart()">Xem Biểu Đồ</button>

<table class="table table-hover table-striped table-dark rounded table-borderless">
  <thead>
  <!--  <button type="button" class="btn btn-danger" (click)="onSubmitGetAll()">Get All</button>-->
  <tr>
    <th scope="col">#</th>
    <th scope="col">username</th>
    <th scope="col">Full name</th>
    <th scope="col">Email</th>
    <th scope="col">Birthday</th>
    <th scope="col">Phone Number</th>
    <th scopadasdse="col">Action</th>
  </tr>
  </thead>

  <tbody>
  <tr  *ngFor="let user of userList, index as i">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.username }}</td>
    <td>{{ user.full_name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.birthday }}</td>
    <td>{{ user.phone_number }}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="onSubmitBlock(user.id )">Block</button>
      <button type="button" class="btn btn-danger" (click)="onSubmitDelete(user.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


