<table class="table table-hover table-striped table-dark rounded table-borderless">
  <thead>
  <tr class="text-center">
    <th scope="col">No.</th>
    <th scope="col">Full Name</th>
    <th scope="col">username</th>
    <th scope="col">Email</th>
    <th scope="col" colspan="3" style="text-align: center">Action</th>
  </tr>
  </thead>

  <tbody>
  <tr class="text-center" *ngFor="let user of userList | paginate: {itemsPerPage: 6, currentPage: p}, index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ user.full_name }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#blockModal1"
              (click)="onSubmitButton(user.id, user.username, user.status, user.roles[0].name )">{{ user.status ? 'Block' : 'UnBlock' }} </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal1"
              (click)="onSubmitButton(user.id, user.username, user.status, user.roles[0].name)">Delete
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" [routerLink]="['/user/', user.id]">Detail</button>
    </td>
  </tr>
  </tbody>
</table>
<ul class="pagination">
  <pagination-controls
    (pageChange)="p = $event"></pagination-controls>
</ul>

<div class="modal fade" id="blockModal1" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockModalLabel">{{ status ? 'Block' : 'Unblock' }} User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{(rolesName == 'ROLE_ADMIN')? 'You do not have access to block Admin account' :
        (status ? 'Are you sure you want to block' : 'Unblock')
        }}
        {{ username }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="!(rolesName == 'ROLE_ADMIN')" (click)="block(id)" type="button" data-dismiss="modal"
                class="btn btn-primary">{{ status ? 'Block' : 'Unblock' }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal1" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel1">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ status? 'You cannot delete unblock account! Please block first' :
        ( (rolesName == 'ROLE_ADMIN')? 'You do not have access to delete Admin account' : 'Delete "' + username + '"? This action cannot UNDONE!') }}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="!status" (click)="delele(id)" type="button" data-dismiss="modal" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

